body{

background:linear-gradient(135deg,#9e62ab20,#ad6e6e20);
font-family:Segoe UI, Arial;
min-height:100vh;
display:flex;
flex-direction:column;

}



.card{

border:none;
border-radius:14px;
transition:0.3s;
background:white;
box-shadow:0 5px 15px rgba(0,0,0,0.08);

}

.card:hover{

transform:translateY(-8px);
box-shadow:0 15px 30px rgba(0,0,0,0.15);

}


.card img{

height:300px;
object-fit:cover;

}



.card-title{

font-size:20px;
font-weight:bold;
color:#333;

}



.price{

color:#864383;
font-weight:bold;
font-size:20px;

}



.details-btn{

background:#864383;
color:white;
border:none;
border-radius:8px;
padding:8px;
transition:0.3s;

}

.details-btn:hover{

background:#ad6e6e;

}


footer{

margin-top:auto;
background:#111;
color:white;
text-align:center;
padding:15px;

}
